
:host(sp-detail-drawer) {
  display: block;

  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;

    .maindetails {
      transform: translate3d(0, 0, 0);
    }
  }


  .maindetails {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    transition: transform 1s;
    background-color: #ffffff;
    right: 0;
    transform: translate3d(100%, 0, 0);
    position: absolute;
    box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.5);

    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;

    .closer {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }

    .click {
      cursor: pointer;
    }


    > div {
      background-color: rgba(0, 0, 0, .05);
      padding: .5rem 1rem;
      margin: 0 0 1rem 0;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;

      h1 {
        margin: 0;
      }

      h3 {
        font-weight: bold;
        border-bottom: 1px solid #bdbdbd;
      }

      ul {
        padding-inline-start: 0;

        li {
          padding: .25rem .5rem;
          margin: .25rem 0;
          background-color: rgba(0, 0, 0, 0.025);
          list-style: none;
          border-radius: 2px;
        }
      }

      &.rating{

        > div{
          display: flex;
          justify-content: space-around;
          color: #ff0000;
        }
      }

      &.adding {
        position: relative;

        ul{
          height: 400px;


          li{
            display: flex;
            background-color: #2c2c2c;
            &::after{
              font-family: 'Material Icons';
              content: '\e8b6';
              flex-grow: 1;
              text-align: right;
            }
          }
        }

        button {
          position: absolute;
          bottom: - 0.5rem;
          right: - 0.5rem;
        }
      }


    }


    .hours {
      > span {
        padding: .5rem;
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
}
