
:host(sp-detail-drawer) {
  display: block;

  //background-color: rgba(0, 0, 0, 0.3);

  &.open {
    opacity: 1;
    pointer-events: all;

    .maindetails {
      transform: translate3d(0, 0, 0);
    }
  }


  .maindetails {
    opacity: 0;
    transition: opacity .5s;

    &.hasData{
      opacity: 1;
    }

    width: 500px;
    height: 100%;
    background-color: #ffffff;

    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;

    .closer {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }

    .click {
      cursor: pointer;
    }

    .content {
      padding: 0 1rem 1rem 1rem;
      overflow-y: auto;
      overflow-x: hidden;
      > div {
        background-color: rgba(0, 0, 0, .05);
        padding: .5rem 1rem;
        margin: 0 0 1rem 0;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;

        h1 {
          margin: 0;
        }

        h3 {
          font-weight: bold;
          border-bottom: 1px solid #bdbdbd;
        }

        ul {
          padding-inline-start: 0;

          li {
            padding: .25rem .5rem;
            margin: .25rem 0;
            background-color: rgba(0, 0, 0, 0.025);
            list-style: none;
            border-radius: 2px;
          }
        }


        &.rating {

          > div.bars {
            position: relative;
            height: 1.5rem;

            >div{
              width: 100%;
              height: 1rem;
              position: absolute;
            }
            .blankbar{
              background-color: #d0d0d0;
            }
            .scorebar{
              background: rgb(32,244,35);
              background: linear-gradient(90deg, rgba(32,244,35,1) 0%, rgba(224,255,0,1) 66%, rgba(255,0,0,1) 100%);

            }
          }
        }

        &.adding {
          position: relative;

          ul {
            height: 400px;


            li {
              display: flex;

              &.holiday{
                background-color: rgba(63, 176, 88, 0.22);
              }

              &.sickness{
                background-color: rgba(255, 0, 0, 0.22);
              }

              &::after {
                font-family: 'Material Icons';
                content: '\e8b6';
                flex-grow: 1;
                text-align: right;
              }
            }
          }

          button {
            position: absolute;
            bottom: - 0.5rem;
            right: - 0.5rem;
          }
        }


      }


      .hours {
        > span {
          padding: .5rem;
          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
