@import '../scss/component';


::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 10000000000000 !important; /* set value you need */
}

mat-drawer-container{
  width: 100%;
  height: 100%;
}

.modal-container {
  position: fixed;
  z-index: 100000000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.9);
  button {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}

