@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'scss/abstracts/functions',
  'scss/abstracts/variables',
  'scss/abstracts/mixins';

// 2. Vendors
@import
  'scss/vendors/normalize',
  'scss/vendors/angular_material';

// 3. Base stuff
@import
  'scss/base/base',
  'scss/base/fonts',
  'scss/base/typography';

// 5. Elements
@import
  'scss/elements/helpers',
  'scss/elements/shadows';

// 4. Global
@import
  'scss/global/header',
  'scss/global/footer';



body, html{
 height: 100%;
}
