
::ng-deep .mat-card-header-text{
  flex-grow: 1;
}
:host(sp-offtime-modal) {
  mat-card {
    width: 400px;
    min-height: 200px;

    mat-card-header {

      h3{
        flex-grow: 1;

      }

    }

    mat-card-content{
      form{
        margin: 1rem 0 0 0;

        display: flex;
        flex-direction: column;


        .rgroup{
          label{
            font-weight: bold;
            margin: 0 0 .5rem 0;
          }
        }

        .radiobuttons{
          display: flex;
          flex-direction: column;
          mat-radio-button{
            margin: .5rem 0;
          }
        }
        mat-checkbox{
          margin:1rem 0;
          color: #ff0000;
          font-weight: bold;
        }
      }
    }

    mat-card-footer{
      padding: .25rem;
      display: flex;

      button{
        margin: .25rem;
      }
      .spacer{
        flex: 1;
      }
    }
  }
}
