<mat-toolbar color="primary">
  <div class="main-view-station-select">
    <mat-form-field>
      <input type="text" matInput [formControl]="stationControl"  [matAutocomplete]="stationAuto">
    </mat-form-field>
    <mat-autocomplete #stationAuto="matAutocomplete" [displayWith]="stationDisplayFn">
      <mat-option *ngFor="let station of stations" [value]="station">{{station.name}}</mat-option>
    </mat-autocomplete>
  </div>

  <span class="main-view-toolbar-spacer-left"></span>

  <div class="main-view-date-select">
    <button mat-icon-button (click)="prevWeeks()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <h2>09.02.20 - 22.02.20</h2>

    <button mat-icon-button (click)="nextWeeks()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <span class="main-view-toolbar-spacer-right"></span>
</mat-toolbar>

<ng-container cdkDropListGroup>
  <mat-card>
    <mat-form-field>
      <input matInput [formControl]="workerControl" placeholder="Mitarbeiter">
    </mat-form-field>

    <div class="main-view-worker-chip-list"
         cdkDropList [cdkDropListData]="workers" id="workers-drop-list">
      <sp-worker-chip *ngFor="let worker of filteredWorkers"
                (dblclick)="this.openDetails(worker.id)"
                cdkDrag [cdkDragData]="worker" [cdkDragDisabled]="worker.disableDrag" (cdkDragStarted)="dragWorkerStart($event)" (cdkDragDropped)="dragWorkerDropped($event)"
                spWorkerInfoTooltip [numValue]="worker.hoursWorkedInCurrentMonth" [maxValue]="worker.workMode.hoursPerMonth" toolLabel="Arbeitszeit"
                [worker]="worker"></sp-worker-chip>
    </div>
  </mat-card>

  <div class="main-view-grid">
    <div class="grid-row--headline">
      <div class="grid-label"></div>

      <div *ngFor="let day of days">{{day}}</div>
    </div>

    <div class="grid-row" *ngFor="let shiftGroup of shiftGroups; let shiftGroupI = index">
      <div class="grid-label">
        <mat-icon>{{shiftGroup.icon}}</mat-icon>
      </div>

      <div *ngFor="let shift of shiftGroup.shifts; let shiftI = index"
           cdkDropList [cdkDropListData]="shift"
           [ngClass]="{'grid-drop-disabled': shift.disabled, 'not-satisfied': shift.notSatisfied}">
        <sp-worker-chip *ngFor="let worker of shift.workers"
                        cdkDrag  (cdkDragStarted)="dragWorkerStart($event)" (cdkDragDropped)="dragWorkerDropped($event)"
                        [worker]="worker"></sp-worker-chip>
      </div>
    </div>
  </div>
</ng-container>
